<div class="article">
    <div class="container">
        {% if block.settings.valuesImg %}
        <div class="article-image">
            <a href="{{ block.settings.valuesUrl }}">
                {% include 'responsive-image', image: block.settings.valuesImg %}
            </a>
        </div>
        {% endif %}
        <h2>{{ block.settings.valuesTitle | link_to: block.settings.valuesUrl }}</h2>
        <div class="user-content">
          {{ block.settings.valuesDesc }}
        </div>
        <div class="continue-reading">
            <a href="{{ block.settings.valuesUrl }}" style="display: flex;">{{ block.settings.valuesLink }}<span class="icon-small icon-natcol">{% include 'svg-chevron-right' %}</span></a>
        </div>
    </div>
</div>
