<div class="container strongly-spaced-row layout-content-with-image-{{ section.settings.layout }} layout-content-with-image-mobile-{{ section.settings.layout_mobile }} layout-content-with-image--large-image valign-middle cf two-half-section" data-section-type="collage-with-text">
    {%- capture image_html -%}
        <div>
            <div class="custom-img-wrapper micro-collage__image-1-frame lazyload--placeholder">
                {% if section.settings.cta_url01 != blank %}<a href="{{ section.settings.cta_url01 }}">{% endif %}
                {% if section.settings.image01 == blank %}
                    <div class="placeholder-image">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}</div>
                {% else %}
                    <div class="img-custom micro-collage__image fade-in lazyload" data-bgset="{% include 'bgset', image: section.settings.image01 %}" data-sizes="auto" data-parent-fit="cover"></div>
                {% endif %}
                {% if section.settings.cta_url01 != blank %}</a>{% endif %}
            </div>
        </div>
    {%- endcapture -%}

    {%- capture image_html02 -%}
        <div>
            <div class="custom-img-wrapper micro-collage__image-1-frame lazyload--placeholder">
                {% if section.settings.cta_url02 != blank %}<a href="{{ section.settings.cta_url02 }}">{% endif %}
                {% if section.settings.image02 == blank %}
                    <div class="placeholder-image">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}</div>
                {% else %}
                    <div class="img-custom micro-collage__image fade-in lazyload" data-bgset="{% include 'bgset', image: section.settings.image02 %}" data-sizes="auto" data-parent-fit="cover"></div>
                {% endif %}
                {% if section.settings.cta_url02 != blank %}</a>{% endif %}
            </div>
        </div>
    {%- endcapture -%}

    <div class="half-section">
        {{ image_html }}
        <div>
            {% if section.settings.title01 != blank %}
            <h1 class="majortitle in-content">{{ section.settings.title01 | escape }}</h1>
            {% endif %}
            <div class="user-content">{{ section.settings.text01 }}</div>

            {% if section.settings.cta_text01 != blank %}
            <div class="spaced-row-above">
                <a class="button altcolour" href="{{ section.settings.cta_url | default: '#' }}">{{ section.settings.cta_text01 | escape }}</a>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="half-section">
        {{ image_html02 }}
        <div>
            {% if section.settings.title02 != blank %}
            <h1 class="majortitle in-content">{{ section.settings.title02 | escape }}</h1>
            {% endif %}
            <div class="user-content">{{ section.settings.text02 }}</div>

            {% if section.settings.cta_text02 != blank %}
            <div class="spaced-row-above">
                <a class="button altcolour" href="{{ section.settings.cta_url02 | default: '#' }}">{{ section.settings.cta_text02 | escape }}</a>
            </div>
            {% endif %}

        </div>
    </div>
</div>

{% schema %}
  {
    "name": "Homepage Content Section",
    "settings": [
      {
        "type": "header",
        "content": "First Block"
      },
      {
        "type": "image_picker",
        "id": "image01",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title01",
        "label": "Heading",
        "default": "Homepage Content Section"
      },
	    {
        "type": "richtext",
        "id": "text01",
        "label": "Text",
        "default": "<p>Pair some text with a couple of images to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
	    {
        "type": "text",
        "id": "cta_text01",
        "label": "Button text",
        "default": "Read more"
      },
      {
        "type": "url",
        "id": "cta_url01",
        "label": "Button link"
        },
        {
          "type": "header",
          "content": "Second Block"
        },
        {
          "type": "image_picker",
          "id": "image02",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title02",
          "label": "Heading",
          "default": "Homepage Content Section"
        },
  	    {
          "type": "richtext",
          "id": "text02",
          "label": "Text",
          "default": "<p>Pair some text with a couple of images to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
        },
  	    {
          "type": "text",
          "id": "cta_text02",
          "label": "Button text",
          "default": "Read more"
        },
        {
          "type": "url",
          "id": "cta_url02",
          "label": "Button link"
        }
    ],
    "presets": [
      {
        "name": "Homepage Content Section",
        "category": "Image",
        "settings": {}
      }
    ]
  }
{% endschema %}
